name: To-EC2

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v3
    
    - name: Set image version (tag)
      id: image_version
      run: echo "gitsha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - name: Login to Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: aya-soghayyer
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/aya-soghayyer/expense-tracker:${{ steps.image_version.outputs.gitsha }}
    - name: Publish docker image
      run: docker push ghcr.io/aya-soghayyer/expense-tracker:${{ steps.image_version.outputs.gitsha }}
    - name: configure docker host
      uses: khaledez/configure-docker-host@v2 
      with:
        host: 35.176.29.255
        user: github
        ssh-private-key: ${{ secrets.DEPLOYMENT_KEY }}
    - name: deploy
      run: docker compose -f docker-compose-prod.yml up -d --remove-orphans && docker system prune -af
      env:
        GIT_VERSION: ${{ steps.image_version.outputs.gitsha }}
        DB_HOST: ${{ secrets.DB_HOST }}
        DB_USER: ${{ secrets.DB_USER }} 
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        DB_NAME: ${{ secrets.DB_NAME }}
        DB_PORT: ${{ secrets.DB_PORT }} 
        currency_key_access: ${{ secrets.currency_key_access }} 
        PORT: ${{ secrets.PORT }}
      